.float-box {
  border: 2px solid red;
  margin: 0 auto;
  height: 150px;
  margin-top: 10px;
  background-color: gray;
}

.left {
  width: 15%;
  height: 90%;
  background-color: aqua;
  float: left;
  margin: 7px;
}

.right {
  width: 15%;
  height: 90%;
  background-color: aqua;
  float: right;
  margin: 7px;
}

.float-box-max {
  border: 2px solid red;
  margin: 0 auto;
  height: 200px;
  margin-top: 10px;
  background-color: gray;
}

.left-max {
  width: 15%;
  height: 90%;
  background-color: aqua;
  float: left;
  margin: 7px;
  margin-left: 34%;
}

.right-max {
  width: 15%;
  height: 41%;
  background-color: aqua;
  clear: right;
  float: right;
  margin: 7px;
  margin-right: 34%;
}

.left-max-2 {
  width: 15%;
  height: 90%;
  background-color: aqua;
  float: left;
  margin: 7px;
  margin-left: 67%;
}

.right-max-2 {
  width: 15%;
  height: 41%;
  background-color: aqua;
  clear: right;
  float: right;
  margin: 7px;
}

